@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  /* background-color: #093009; */
  color: #093009;
  font-family: 'Merriweather', serif;
}
